
	
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="text-center">NEW WORD</h3>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- date created -->
						<span class="pull-left" ng-bind="word.dateCreated"></span>
						<span class="pull-right">[FUNKY ICON]</span>
						
						<!-- first and last name -->
						<p class="text-center">
							<span ng-bind="user.firstName"></span>
							<span ng-bind="user.lastName"></span>
						</p>
					<div>
				</div>
				<div class="jumbotron back">
					<div class="row">
						<div class="col-xs-12">
							[AVATAR]
							<span ng-bind="word.word"></span>
						</div>	
					</div>
					<div class="row">
						<div class="col-xs-12">
							[FUNKY ICON]
						</div>
					</div>
				</div>
				
				<div class="jumbotron front">
					<span ng-bind="word.story"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						[NECKLACE ICON]
						[BRACELET ICON]
						<span class="pull-right" ng-bind="user.state"></span>
						<span class="pull-right">,&nbsp;</span>
						<span class="pull-right" ng-bind="user.city"></span>
					<div>
				</div>
				
			</div>
	</div>